<app-drawer-form-base
  [mode]="mode"
  width="45%"
  [isEdit]="isEdit"
  [isVisible]="isVisible"
  [titleDrawer]="titleDrawer"
  (onCloseDrawer)="isVisible = false"
  [customFooterTpl]="footerTpl"
  (onSubmit)="submitForm()"
>
  <form nz-form [formGroup]="colorForm" [nzLayout]="'vertical'">
    <ng-container *ngIf="data?.id">
      <!-- Start upload image -->
      <div nz-row class="mb-2">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="color" nzRequired>
              <span>Color</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select a color"
                formControlName="colorId"
                (ngModelChange)="updateUploadUrl()"
              >
                <nz-option
                  *ngFor="let color of colors"
                  [nzLabel]="color.code"
                  [nzValue]="color.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="clearfix">
            <nz-upload
            class="mb-2"
              [nzAction]="uploadUrl"
              nzListType="picture-card"
              [(nzFileList)]="fileList"
              [nzMultiple]="true"
              [nzDisabled]="!isEdit"
              [nzPreview]="handlePreview"
              nzType="drag"
              [nzBeforeUpload]="beforeUpload"
              [nzRemove]="removePhoto"
            >
              <div class="w-100">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <span>Click or drag to upload</span>
              </div>
            </nz-upload>
            <br />
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </div>
      </div>
      <!-- End upload image -->

      <!-- Start select color -->
   
      <!-- End select color -->
    </ng-container>
  </form>

  <form nz-form [formGroup]="drawerForm" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="name" nzRequired>
        <span>Name</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Name is required">
        <input
          nz-input
          name="Name"
          type="name"
          id="name"
          formControlName="name"
          placeholder="Input name"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="spec" nzRequired>
        <span>Specification</span>
      </nz-form-label>
      <nz-form-control>
        <nz-select
          formControlName="specificationId"
          nzMode="multiple"
          nzPlaceHolder="Select specification"
        >
          <nz-option
            *ngFor="let option of specifications"
            [nzLabel]="option.code"
            [nzValue]="option.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="category" nzRequired>
            <span>Category</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select a category"
              formControlName="productCategoryId"
            >
              <nz-option
                *ngFor="let category of productCategories"
                [nzLabel]="category.name"
                [nzValue]="category.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="price" nzRequired>
            <span>Price</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Price is required">
            <nz-input-number
              class="w-100"
              nz-input
              name="price"
              id="price"
              formControlName="price"
              placeholder="Input price"
              [nzFormatter]="formatterPrice"
              [nzParser]="parserPrice"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="description">
        <span>Description</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="24">
        <quill-editor formControlName="description" [modules]="editorOptions"></quill-editor>
      </nz-form-control>
    </nz-form-item>
  </form>
</app-drawer-form-base>

<ng-template #footerTpl>
  <app-button-base
    class="float-left"
    text="Close"
    type="default"
    iconClass="fa-solid fa-xmark"
    (onClick)="closeDrawer()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Save"
    buttonClass="btn-success mr-2"
    iconClass="fa-solid fa-floppy-disk"
    *ngIf="isEdit"
    (onClick)="submitForm()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Back"
    iconClass="fa-solid fa-arrow-left"
    *ngIf="mode === 'detail' && isEdit"
    (onClick)="changeToDetail()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Edit"
    type="primary"
    iconClass="fa-solid fa-pen-to-square"
    *ngIf="mode === 'detail' && !isEdit"
    (onClick)="changeToUpdate()"
  ></app-button-base>

  <app-button-base
    class="float-right"
    text="Delete"
    buttonClass="btn-danger mr-2"
    iconClass="fa-solid fa-trash"
    *ngIf="mode === 'detail' && !isEdit"
    nz-popconfirm
    nzOkText="Ok"
    nzCancelText="Cancel"
    nzPopconfirmTitle="Delete this record"
    (nzOnConfirm)="deleteItem()"
  ></app-button-base>
</ng-template>
