<!-- <app-page-grid>
  <h2>Order Management</h2>
  <div
  cdkDropList
  #todoList="cdkDropList"
  [cdkDropListData]="listOrderPending"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of listOrderPending" cdkDrag>
    <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ item: 'item' }"></ng-container>
</div>
 </div>

 <ng-template #content let-item="item">
  <div class="align-child-space-between mb-2">
    <h4 class="text-truncate text-primary fw-700">{{item.code}}</h4>
    <app-button-icon iconClass="fa-solid fa-ellipsis-vertical"></app-button-icon>
  </div>
  <div class="align-child-space-between mb-2 ">
    <label>Customer name</label>
    <span class="font-weight-bold">{{item?.customerName}}</span>
</div>
<div class="align-child-space-between mb-2 ">
    <label>Phone</label>
    <span class="font-weight-bold">{{item?.phone}}</span>
</div>
<div class="align-child-space-between mb-2 ">
    <label>Email</label>
    <span class="font-weight-bold">{{item?.email}}</span>
</div>
<div class="align-child-space-between mb-2 ">
    <label>Create date</label>
    <span class="font-weight-bold">{{item?.createDate | date: 'dd/mm/yyyy'}}</span>
</div>
<div class="align-child-space-between mb-2 ">
</div>
 </ng-template>
</app-page-grid>
 -->
