<app-page-grid>
  <h2>Order Management</h2>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="6">
      <div
        cdkDropList
        id="pending"
        #listPending="cdkDropList"
        [cdkDropListData]="listOrderPending"
        cdkDropListSortingDisabled
        [cdkDropListConnectedTo]="[listPreparing, listDelivering, listRejected]"
        class="example-list p-1 p-1"
        (cdkDropListDropped)="drop($event, 1)"
      >
      <div class="text-center mb-1">
        <app-order-status [width]="'100%'" [status]="1"></app-order-status>
      </div>
        <div class="example-box mb-2 p-2" *ngFor="let item of listOrderPending" cdkDrag>
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="6">
      <div
        cdkDropList
        id="rejected"
        #listRejected="cdkDropList"
        [cdkDropListData]="listOrderRejected"
        class="example-list p-1"
        (cdkDropListDropped)="drop($event, 27)"
      >
      <div class="text-center mb-1">
        <app-order-status [width]="'100%'" [status]="27"></app-order-status>
      </div>
        <div class="example-box mb-2 p-2" *ngFor="let item of listOrderRejected" cdkDrag>
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="6">
      <div
        cdkDropList
        id="preparing"
        #listPreparing="cdkDropList"
        [cdkDropListData]="listOrderPreparing"
        class="example-list p-1"
        cdkDropListSortingDisabled
        [cdkDropListConnectedTo]="[listDelivering, listRejected]"
        (cdkDropListDropped)="drop($event, 2)"
      >
      <div class="text-center mb-1">
        <app-order-status [width]="'100%'" [status]="2"></app-order-status>
      </div>
        <div
          class="example-box mb-2 p-2"
          *ngFor="let item of listOrderPreparing"
          cdkDrag
        >
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="6">
      <div
        cdkDropList
        id="delivering"
        #listDelivering="cdkDropList"
        [cdkDropListData]="listOrderDelivering"
        class="example-list p-1"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event, 23)"
      >
      <div class="text-center mb-1">
        <app-order-status [width]="'100%'" [status]="23"></app-order-status>
      </div>
        <div
          class="example-box mb-2 p-2"
          *ngFor="let item of listOrderDelivering"
          cdkDrag
        >
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </div>
      </div>
    </div>

    <!-- <div nz-col nzSpan="4">
      <div
        cdkDropList
        #listReceived="cdkDropList"
        [cdkDropListData]="listOrderReceived"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of listOrderReceived" cdkDrag>
          <ng-container
            [ngTemplateOutlet]="content"
            [ngTemplateOutletContext]="{ item: 'item' }"
          ></ng-container>
        </div>
      </div>
    </div> -->
  </div>

  <ng-template #content let-item="item">
    <div class="align-child-space-between mb-1">
      <label class="text-muted text-truncate">#{{ item?.code }}</label>
    </div>
    <div class="align-child-space-between mb-1">
      <label class="text-muted">Customer name</label>
      <span >{{ item?.customerName }}</span>
    </div>
    <div class="align-child-space-between mb-1">
      <label class="text-muted">Phone</label>
      <span >{{ item?.phone }}</span>
    </div>
    <div class="align-child-space-between mb-1">
      <label class="text-muted">Email</label>
      <span class="text-truncate">{{ item?.email }}</span>
    </div>
    <!-- <div class="align-child-space-between mb-1">
      <label>Delivery date</label>
      <span >{{
        item?.createDate | date : "dd/MM/yyyy"
      }}</span>
    </div> -->
    <div class="align-child-space-between">
      <label class="text-muted">Create date</label>
      <span >{{
        item?.createDate | date : "dd/MM/yyyy"
      }}</span>
    </div>
  </ng-template>
</app-page-grid>
