<app-page-grid>
  <h2>Order Management</h2>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="8" *ngFor="let item of orders">
        <nz-list-item>
          <nz-card
            [nzTitle]="item.title"
            [nzActions]="[editAction, ellipsisAction]"
          >
            <ng-container
              *ngTemplateOutlet="cardContent; context: { $implicit: item }"
              ;
            ></ng-container>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
    <nz-list-footer
      ><nz-pagination
        class="float-right"
        nzShowSizeChanger
        [nzPageIndex]="paginationParam.pageNum"
        [nzTotal]="paginationParam.totalCount"
        [nzPageSize]="paginationParam.pageSize"
        nzFrontPagination="false"
        (nzPageSizeChange)="pageSizeChanged($event)"
        (nzPageIndexChange)="pageNumChanged($event)"
      ></nz-pagination
    ></nz-list-footer>
  </nz-list>
</app-page-grid>

<!-- Start Content Template -->
<ng-template #cardContent let-item>
  <div class="d-flex">
    <p class="header">OrderNo:</p>
    <p class="content">{{ item.code }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Create Date:</p>
    <p class="content">{{ item.createDate | date : "medium" }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Status:</p>
    <p class="content">{{ item.status | orderStatusFormatter }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Customer Name:</p>
    <p class="content">{{ item.customerName }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Address:</p>
    <p class="content">{{ item.address }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Phone:</p>
    <p class="content">{{ item.phone }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Email:</p>
    <p class="content">{{ item.email }}</p>
  </div>
  <nz-divider></nz-divider>
  <div class="d-flex">
    <p class="header">Payment method:</p>
    <p class="content">{{ item.payment }}</p>
  </div>
  <div class="d-flex">
    <p class="header">Payment status:</p>
    <p class="content">{{ "Paid" }}</p>
  </div>
</ng-template>
<!-- End Content Template -->

<!-- Start Action Template -->
<ng-template #editAction>
  <span nz-icon nzType="edit"></span>
</ng-template>
<ng-template #ellipsisAction>
  <span nz-icon nzType="ellipsis"></span>
</ng-template>
<!-- End Action Template -->
