
  <app-header [isCollapsed]="isCollapsed" (emitOnCollapse)="onCollapse($event)"></app-header>
<nz-layout >

    <nz-sider nzWidth="256px" id="sider" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo ">
        <!-- <nz-header class="h-50px">
          <h1 class="text-center">Tech Shop</h1>
        </nz-header> -->

      </div>
      <ul nz-menu nzMode="inline" >
        <li nz-menu-item [routerLink]="'dashboard'" [nzMatchRouter]="true" >
          <span><i class="fa-solid fa-shop  mr-2 text-muted"></i></span>
          <span>Dashboard</span>
        </li>

        <li nz-submenu  [nzTitle]="product" >
          <ng-template #product>
              <i class="fa-brands fa-product-hunt  mr-2 text-muted"></i>
              <span>Product Management</span>
            </ng-template>
          <ul>
            <li nz-menu-item [routerLink]="'product'" [nzMatchRouter]="true">
              <span><i class="fa-solid fa-box  mr-2 text-muted"></i></span>
              <span>Product</span>
            </li>
            <li nz-menu-item [routerLink]="'product-category'" [nzMatchRouter]="true">
              <span><i class="fa-solid fa-toolbox  mr-2 text-muted"></i></span>
              <span>Product Category</span>
            </li>
          </ul>
        </li>

        <li nz-menu-item [routerLink]="'shop'" [nzMatchRouter]="true">
          <span><i class="fa-solid fa-shop  mr-2 text-muted"></i></span>
          <span>Shop</span>
        </li>

        <li nz-menu-item [routerLink]="'shipping'" [nzMatchRouter]="true">
          <span><i class="fa-solid fa-shop  mr-2 text-muted"></i></span>
          <span>Shipping</span>
        </li>

        <li nz-menu-item [routerLink]="'promotion'" [nzMatchRouter]="true">
          <span><i class="fa-solid fa-shop  mr-2 text-muted"></i></span>
          <span>Promotion</span>
        </li>

        <li nz-submenu  [nzTitle]="warehouse">
          <ng-template #warehouse>
              <i class="fa-solid fa-warehouse mr-2 text-muted"></i>
              <span>Warehouse Management</span>
          </ng-template>
          <ul>

            <li nz-menu-item>
              <span><i class="fa-solid fa-warehouse  mr-2 text-muted"></i></span>
              <span>Warehouse</span>
            </li>
          </ul>
        </li>

        <li nz-submenu [nzTitle]="order">
          <ng-template #order>
              <i class="fa-solid fa-truck-fast  mr-2 text-muted"></i>
              <span>Order Management</span>
          </ng-template>
          <ul>
            <!-- <li nz-menu-item>
              <span><i class="fa-solid fa-shop  mr-2 text-muted"></i></span>
              <span>Shop</span>
            </li> -->
            <li nz-menu-item>
              <span><i class="fa-solid fa-warehouse  mr-2 text-muted"></i></span>
              <span>Warehouse</span>
            </li>
          </ul>
        </li>

        <li nz-submenu  [nzTitle]="specification" >
          <ng-template #specification>
              <i class="fa-solid fa-gear  mr-2 text-muted"></i>
              <span>Specification Management</span>
          </ng-template>
          <ul>
            <li nz-menu-item [routerLink]="'specification'" [nzMatchRouter]="true" >
              <span><i class="fa-solid fa-box-archive  mr-2 text-muted"></i></span>
              <span>Specification</span>
            </li>
            <li nz-menu-item [routerLink]="'specification-category'" [nzMatchRouter]="true" >
              <span><i class="fa-solid fa-toolbox  mr-2 text-muted"></i></span>
              <span>Specification Category</span>
            </li>
          </ul>
        </li>

        <li nz-menu-item>
          <i class="fa-solid fa-users  mr-2 text-muted"></i>
          <span>Customer Management</span>
        </li>

        <li nz-menu-item>
          <i class="fa-solid fa-users  mr-2 text-muted"></i>
          <span>User Management</span>
        </li>

        <li nz-menu-item>
          <span><i class="fa-regular fa-star-half-stroke  mr-2 text-muted"></i></span>
          <span>Rating</span>
        </li>

        <li nz-menu-item>
          <span><i class="fa-regular fa-money-check-dollar mr-2 text-muted"></i></span>
          <span>Installment</span>
        </li>

        <li nz-menu-item>
          <span><i class="fa-regular fa-star-half-stroke  mr-2 text-muted"></i></span>
          <span>Statistic</span>
        </li>

      </ul>
    </nz-sider>
    <nz-layout>

      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
