<div class="h-80vh mt-2">
  <nz-carousel nzAutoPlay>
    <div nz-carousel-content>
      <img
        width="100%"
        height="100%"
        src="../../../../assets/images/carousel1.jpg"
        alt=""
        class="carousel-home"
      />
    </div>
    <div nz-carousel-content>
      <img
        width="100%"
        height="100%"
        src="../../../../assets/images/carousel2.png"
        alt=""
        class="carousel-home"
      />
    </div>
  </nz-carousel>
</div>

<div class="section-wrap">
  <a href="product/iphone" class="d-block h-100">
    <div class="item__iphone-home item-home text-center h-100">
      <div class="pt-4">
        <h1 class="text-white">iPhone 14 Pro</h1>
        <h2 class="text-white">Pro. Beyond</h2>
      </div>
    </div>
  </a>
</div>

<div nz-row class="mt-4">
  <div nz-col nzSpan="12">
    <div class="section-wrap">
      <a href="product/ipad" class="d-block h-100">
        <div class="item__ipad-home item-home text-center h-100">
          <div class="pt-4">
            <h1 >iPad</h1>
            <h2 >Lovable. Drawerble. Magical</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div class="section-wrap">
      <a href="product/macbook" class="d-block h-100">
        <div class="item__macbook-home item-home text-center h-100">
          <div class="pt-4">
            <h1 class="text-white">Macbook Pro</h1>
            <h2 class="text-white">Mover. Maker. Boundary breaker.</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
