<div nz-row nzGutter="64" class="p-4">
    <div nz-col nzSpan="8">
        <nz-tabset
        nzTabPosition="left"
        [(nzSelectedIndex)]="selectedIndex"
      >
      <nz-tab nzTitle="Information">
        <!-- TODO: Change information form -->
      </nz-tab>
      <nz-tab nzTitle="Address"></nz-tab>
      <nz-tab nzTitle="Change password">
        <!-- TODO: Change password form -->
      </nz-tab>
      <nz-tab nzTitle="Avatar"></nz-tab>
      </nz-tabset>
    </div>
    <div nz-col nzSpan="16"></div>
</div>