<app-page-grid>
    <h2>Specification Management</h2>
    <nz-table
  #rowSelectionTable
  nzShowPagination
  nzShowSizeChanger
  [nzScroll]="{  y: '240px' }"
  [nzData]="listOfData"
>
  <thead>
    <tr>
        <th
        nzShowCheckbox
        nzWidth="40px"
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll(filenetRecord, $event)"
        (click)="checkAll(filenetRecord, !isAllDisplayDataChecked)"
      ></th>
      <th
      *ngFor="let column of listOfColumn"
      [nzWidth]="column.width"
      [nzSortOrder]="column.sortOrder"
      [ngClass]="column.class"
      [nzSortDirections]="column.sortDirections"
      (nzSortOrderChange)="onSort($event, column)"
    >
      {{ column.name }}
    </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
       
      ></td>
      <td>{{ data.code }}</td>
      <td>{{ data.value }}</td>
      <td>{{ data.address }}</td>
    </tr>
  </tbody>
</nz-table>
</app-page-grid>