<app-page-grid>
  <div nz-row nzGutter="32">
    <div nz-col nzSpan="12">
      <nz-card nzTitle="#{{ data?.code }}" class="card-content">
        <nz-steps
          [nzCurrent]="orderStatusStepIndex"
          nzSize="small"
          class="mb-3"
        >
          <nz-step nzIcon="solution" nzTitle="Pending"> </nz-step>
          <nz-step nzIcon="close" nzTitle="Rejected" [nzStatus]="data?.status ==  orderStatus.Rejected ? 'error' : 'wait'"> </nz-step>
          <nz-step nzIcon="shopping" nzTitle="Delivering"> </nz-step>
          <nz-step nzTitle="Finished" nzIcon="check"></nz-step>
        </nz-steps>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Customer name</label>
          <span nz-col nzSpan="16" class="font-weight-bold">{{
            data?.customerName
          }}</span>
        </div>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Phone</label>
          <span nz-col nzSpan="16" class="font-weight-bold">{{
            data?.phone
          }}</span>
        </div>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Email</label>
          <span nz-col nzSpan="16" class="font-weight-bold">{{
            data?.email
          }}</span>
        </div>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Create date</label>
          <span nz-col nzSpan="16" class="font-weight-bold">{{
            data?.createDate | date : "dd/MM/yyyy"
          }}</span>
        </div>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Status</label>
          <app-order-status
            nz-col
            nzSpan="16"
            [status]="data?.status"
          ></app-order-status>
        </div>
        <div class="mb-2" nz-row nzGutter="16">
          <label nz-col nzSpan="8">Address</label>
          <span nz-col nzSpan="16" class="font-weight-bold">{{
            data?.address
          }}</span>
        </div>

        <button
          nz-button
          nzType="primary"
          class="w-100 h-50px mt-3"
          nzSize="large"
          nzShape="round"
          (click)="continue()"
        >
          Continue shopping
        </button>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Your cart" class="card-content">
        <app-customer-cart></app-customer-cart>
        <div class="align-child-space-between mb-2 mt-3">
          <label>Total</label>
          <h2 class="font-weight-bold">{{ data?.cost | number }}VNĐ</h2>
        </div>
      </nz-card>
    </div>
  </div>
</app-page-grid>
