<nz-header class="header">
  <div class="align-child-space-evenly h-50px">
    <!-- <span class="trigger" (click)="onCollapse()">
        <i class="fa-solid fa-bars fa-lg"></i>
      </span> -->
    <div>
      <h1 class="text-center">Tech Shop</h1>
    </div>
    <div class="d-flex">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item  [routerLink]="'product/iphone'">IPhone</li>
        <li nz-menu-item [routerLink]="'product/ipad'">IPad</li>
        <li nz-menu-item [routerLink]="'product/mac'">Mac</li>
        <li nz-menu-item [routerLink]="'product/watch'">Watch</li>
        <li nz-menu-item [routerLink]="'product/sound'">Sound</li>
        <li nz-menu-item [routerLink]="'product/accessories'">Accessories</li>
        <li nz-menu-item [routerLink]="'product/service'">Service</li>
        <li nz-menu-item [routerLink]="'product/promotion'">Promotion</li>
      </ul>

    </div>

    <div class="d-flex">
        <span
        ><app-button-icon
          toolTipTitle="Theme"
          iconClass="fa-solid fa-moon fa-lg "
          placement="bottom"
        ></app-button-icon
      ></span>

      <span
        ><app-button-icon
          toolTipTitle="Cart"
          iconClass="fa-solid fa-cart-shopping"
          placement="bottom"
        ></app-button-icon
      ></span>

      <span class="mr-2"
        ><app-button-icon
          toolTipTitle=""
          iconClass="fa-solid fa-user fa-lg "
          placement="bottom"
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
          nzTrigger="click"
        ></app-button-icon
      ></span>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="d-flex align-center">
          <ul nz-menu>
            <!-- <li nz-menu-item>
              <nz-avatar [nzSize]="30" class="mb-2"></nz-avatar>

              <span>{{ customer.firstName }} {{ customer.lastName }}</span>
            </li> -->
            <!-- <nz-divider class="m-0"></nz-divider> -->
            <!-- <li nz-menu-item>Log out</li> -->
            <li nz-menu-item (click)="signIn()">Sign In</li>
            <li nz-menu-item (click)="signUp()">Sign Up</li>
          </ul>
        </div>
      </nz-dropdown-menu>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()">
                  <ng-container *nzModalContent>
                    <form nz-form [formGroup]="form">
                      <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="code" nzRequired>
                          <span>Code</span>
                        </nz-form-label>
                        <nz-form-control [nzSpan]="24" nzErrorTip="Code is required">
                          <input
                            nz-input
                            name="code"
                            type="code"
                            id="code"
                            formControlName="code"
                            placeholder="Input code"
                          />
                        </nz-form-control>
                      </nz-form-item>
                    </form>
                  </ng-container>
              </nz-modal>
  </div>
</nz-header>
