<nz-header class="header">
  <div class="align-child-space-evenly h-50px">
    <!-- <span class="trigger" (click)="onCollapse()">
        <i class="fa-solid fa-bars fa-lg"></i>
      </span> -->
    <div>
      <a href=""
        ><img
          src="../../../../assets/images/logo-no-background.svg"
          alt="logo"
          width="250px"
          height="90%"
          class="obj-cover"
      /></a>
    </div>
    <div class="d-flex">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item [routerLink]="'product/iphone'">IPhone</li>
        <li nz-menu-item [routerLink]="'product/ipad'">IPad</li>
        <li nz-menu-item [routerLink]="'product/mac'">Mac</li>
        <li nz-menu-item [routerLink]="'product/watch'">Watch</li>
        <li nz-menu-item [routerLink]="'product/sound'">Sound</li>
        <li nz-menu-item [routerLink]="'product/accessories'">Accessories</li>
        <li nz-menu-item [routerLink]="'product/service'">Service</li>
        <li nz-menu-item [routerLink]="'product/promotion'">Promotion</li>
      </ul>
    </div>

    <div class="d-flex align-center">
      <span
        ><app-button-icon
          toolTipTitle="Theme"
          iconClass="fa-solid fa-moon fa-lg"
          placement="bottom"
          (click)="changeTheme()"
        ></app-button-icon
      ></span>

      <nz-badge [nzCount]="(cartCount$ | async)!" class="mr-2">
        <span
          ><app-button-icon
            iconClass="fa-solid fa-cart-shopping"
            nz-dropdown
            [nzDropdownMenu]="cart"
            nzPlacement="bottomLeft"
            nzTrigger="click"
          ></app-button-icon
        ></span>
      </nz-badge>

      <nz-dropdown-menu #cart="nzDropdownMenu" nzNoAnimation>
        <ul nz-menu>
          <li>
            <app-customer-cart></app-customer-cart>
          </li>
          <li *ngIf="(cartCount$ | async) > 0">
            <button
            class="w-100"
            nz-button
            nzType="default"
            (click)="goToCart()"
          >
            See all
          </button>
          </li>
        </ul>
      </nz-dropdown-menu>

      <span class="mr-2"
        ><app-button-icon
          toolTipTitle=""
          iconClass="fa-solid fa-user fa-lg "
          placement="bottom"
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
          nzTrigger="click"
        ></app-button-icon
      ></span>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="d-flex align-center">
          <ul nz-menu *ngIf="isLoggedIn; else notLoggedIn">
            <li nz-menu-item (click)="changeInfo()">
              <div class="align-child-center align-center">
                <nz-avatar
                  nzIcon="user"
                  [nzSrc]="customer?.avatarUrl"
                  [nzSize]="40"
                  class="mr-2"
                ></nz-avatar>
                <span>{{ customer?.firstName }} {{ customer?.lastName }} </span>
              </div>
            </li>
            <nz-divider class="m-0"></nz-divider>
            <li nz-menu-item (click)="logOut()">
              <a>
                <i class="fa-solid fa-right-from-bracket mr-2"></i>Log out
              </a>
            </li>
          </ul>
          <ng-template #notLoggedIn>
            <ul nz-menu>
              <li nz-menu-item (click)="signIn()">
                <i class="fa-solid fa-right-to-bracket mr-2"></i>Sign In
              </li>
              <li nz-menu-item (click)="signUp()">
                <i class="fa-solid fa-user-plus mr-2"></i>Sign Up
              </li>
            </ul>
          </ng-template>
        </div>
      </nz-dropdown-menu>
    </div>
    <!-- Sign In Modal -->
    <nz-modal
      class="tabset"
      [(nzVisible)]="isVisible"
      [nzTitle]="tabIndex === 0 ? 'Welcome Back' : 'Sign Up'"
      (nzOnCancel)="handleCancel()"
      [nzWidth]="700"
      [nzFooter]="null"
    >
      <ng-container *nzModalContent>
        <nz-tabset
          [nzSelectedIndex]="tabIndex"
          [nzTabBarStyle]="{ display: 'none' }"
        >
          <nz-tab>
            <ng-container [ngTemplateOutlet]="signInTpl"></ng-container>
          </nz-tab>
          <nz-tab>
            <ng-container [ngTemplateOutlet]="signUpTpl"></ng-container>
          </nz-tab>
        </nz-tabset>
      </ng-container>
    </nz-modal>
  </div>
</nz-header>

<ng-template #signInTpl>
  <div nz-row>
    <div nz-col nzSpan="12">
      <form nz-form [formGroup]="signInForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="username" nzRequired>
            <span>Username</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Username is required">
            <input
              nz-input
              name="username"
              type="text"
              id="username"
              formControlName="username"
              placeholder="Input username"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzFor="password" nzRequired>
            <span>Password</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Password is required">
            <input
              nz-input
              name="password"
              type="password"
              id="password"
              formControlName="password"
              placeholder="Input password"
            />
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>

          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot float-right">Forgot password</a>
          </div>
        </div>

        <div nz-row>
          <button
            class="w-100 mt-2"
            nz-button
            nzType="primary"
            (click)="submitSignInForm()"
          >
            Sign In
          </button>
        </div>
        <div nz-row class="mt-2">
          <div nz-col nzSpan="24">
            <span class=""
              >Dont have an account?
              <u class="text-primary cursor-pointer" (click)="tabIndex = 1"
                >Create account</u
              >
            </span>
          </div>
        </div>
      </form>
    </div>
    <div nz-col nzSpan="12">
      <img width="100%" src="../../../../assets/images/signIn.png" />
    </div>
  </div>
</ng-template>

<ng-template #signUpTpl>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <form nz-form [formGroup]="signUpForm">
        <div nz-row nzGutter="16">
          <div nz-col nzSpan="12" class="pr-1">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="firstName" nzRequired>
                First Name
              </nz-form-label>
              <nz-form-control
                [nzSpan]="24"
                nzErrorTip="First name is required"
              >
                <input
                  nz-input
                  name="firstName"
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  placeholder="First name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="lastName" nzRequired>
                Last Name
              </nz-form-label>
              <nz-form-control [nzSpan]="24" nzErrorTip="Last name is required">
                <input
                  nz-input
                  name="lastName"
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  placeholder="Last name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="username" nzRequired>
                <span>Username</span>
              </nz-form-label>
              <nz-form-control [nzSpan]="24" [nzErrorTip]="errorCodeUsername">
                <ng-template #errorCodeUsername let-control>
                  <div
                    *ngIf="
                      signUpForm.controls['username'].invalid &&
                      (signUpForm.controls['username'].dirty ||
                        signUpForm.controls['username'].touched)
                    "
                  >
                    <span
                      *ngIf="signUpForm.get('username')?.hasError('required')"
                      >Username is required</span
                    >
                    <span
                      *ngIf="
                        signUpForm
                          .get('username')
                          ?.hasError('usernameDuplicated')
                      "
                      >Username is existed</span
                    >
                  </div>
                </ng-template>
                <input
                  nz-input
                  name="username"
                  type="text"
                  id="username"
                  formControlName="username"
                  placeholder="Input username"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired nzFor="idNumber">
                <span>Id Number</span>
              </nz-form-label>
              <nz-form-control [nzSpan]="24" nzErrorTip="Please input your id number!">
                <input nz-input id="idNumber" formControlName="idNumber" placeholder="Id Number" maxlength="12" />
              </nz-form-control>
            </nz-form-item>
          </div> -->
        </div>

        <!-- <div nz-row nzGutter="16">
          <div nz-col nzSpan="24" class="pr-1">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired nzFor="address">
                <span>Address</span>
              </nz-form-label>
              <nz-form-control [nzSpan]="24" nzErrorTip="Please input your address!">
                <textarea nz-input id="address" formControlName="address" placeholder="Address"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
      
        </div> -->

        <!-- <div nz-row nzGutter="16">
          <div nz-col nzSpan="12" class="pr-1">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired>E-mail</nz-form-label>
              <nz-form-control [nzErrorTip]="errorCodeEmail">
                <input type="text" nz-input formControlName="email" placeholder="Email" />
                <ng-template #errorCodeEmail let-control>
                  <div
                    *ngIf="
                      signUpForm.controls['email'].invalid &&
                      (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)
                    "
                  >
                    <span *ngIf="signUpForm.get('email')?.hasError('required')">Email is required</span>
                    <span *ngIf="signUpForm.get('email')?.hasError('pattern')">Email not valid</span>
                  </div>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="phone" nzRequired>Phone</nz-form-label>
              <nz-form-control [nzErrorTip]="errorCodePhone">
                <input formControlName="phone" id="'phone'" nz-input placeholder="Phone" maxlength="11" />
                <ng-template #errorCodePhone let-control>
                  <div
                    *ngIf="
                      signUpForm.controls['phone'].invalid &&
                      (signUpForm.controls['phone'].dirty || signUpForm.controls['phone'].touched)
                    "
                  >
                    <span *ngIf="signUpForm.get('phone')?.hasError('required')">Phone is required</span>
                    <span *ngIf="signUpForm.get('phone')?.hasError('pattern')">Phone not valid</span>
                  </div>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzGutter="16">
          <div nz-col nzSpan="12" class="pr-1">
            <nz-form-item>
              <nz-form-label nzAlign="start" [nzSpan]="24" nzFor="birthday" nzRequired>Birthday</nz-form-label>
              <nz-form-control nzErrorTip="Please input your birthday!">
                <nz-date-picker class="w-100" formControlName="birthday"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzAlign="start" [nzSpan]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
              <nz-radio-group formControlName="gender" nzButtonStyle="solid" class="mb-3">
                <label nz-radio-button [nzValue]="1 | number">Male</label>
                <label nz-radio-button [nzValue]="0 | number">Female</label>
              </nz-radio-group>
            </nz-form-item>
          </div>
        </div> -->

        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24" class="pr-1">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="password" nzRequired
                >Password
              </nz-form-label>
              <nz-form-control [nzSpan]="24" [nzErrorTip]="passwordErr">
                <input
                  nz-input
                  type="password"
                  formControlName="password"
                  placeholder="Password"
                />
                <ng-template #passwordErr let-control>
                  <div
                    *ngIf="
                      signUpForm.controls['password'].invalid &&
                      (signUpForm.controls['password'].dirty ||
                        signUpForm.controls['password'].touched)
                    "
                  >
                    <span
                      *ngIf="signUpForm.get('password')?.hasError('required')"
                      >Password is required</span
                    >
                    <span
                      *ngIf="signUpForm.get('password')?.hasError('pattern')"
                      >Must contain one uppercase (A-Z) and one digit</span
                    >
                  </div>
                </ng-template></nz-form-control
              >
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="checkPassword" nzRequired
                >Confirm Password</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="errorTpl">
                <input
                  nz-input
                  type="password"
                  formControlName="checkPassword"
                  id="checkPassword"
                  placeholder="Confirm Password"
                />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Please confirm your password!</ng-container
                  >
                  <ng-container *ngIf="control.hasError('notMatch')">
                    Two passwords that you enter is inconsistent!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div nz-row>
        <div class="w-100 mt-2">
          <button
            class="w-100"
            nz-button
            nzType="primary"
            (click)="submitSignUpForm()"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <img width="100%" src="../../../../assets/images/signUp.jpg" />
    </div>
  </div>
</ng-template>
