<nz-drawer
  [nzVisible]="isVisible"
  nzPlacement="right"
  nzWidth="30%"
  nzCloseIcon=""
  [nzTitle]="headerTpl"
  [nzFooter]="customFooterTpl"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <ng-content></ng-content>
  </ng-container>
</nz-drawer>

<ng-template #headerTpl>
  <div nz-row class="d-flex align-center">
    <div nz-col nzSpan="20">
      <span class="text-truncate">{{ titleDrawer }}</span>
    </div>
    <div nz-col nzSpan="4">
      <app-button-icon
        iconClass="fa-solid fa-xmark"
        (click)="closeDrawer()"
        class="mt-0 pt-0 float-right"
      ></app-button-icon>
    </div>
  </div>
</ng-template>
