<div class="pl-4 pr-4">
  <h3>Your cart</h3>
  <nz-list style="width: 400px" *ngIf="(cartObjects$ | async)?.length > 0; else empty">
    <ng-container *ngFor="let item of cartObjects$ | async | slice:0:4" (click)="goToProduct(item.id)">
      <div nz-row >
        <div nz-col nzSpan="6">
          <nz-badge [nzCount]="item.quantity">
          <img width="80px" class="cart-img" alt="logo" [src]="item.photo!" />
          </nz-badge>
        </div>
        <div nz-col nzSpan="18">
          <nz-list-item-meta>
            <nz-list-item-meta-title >
              <div nz-row nzGutter="8">
                <span nz-col nzSpan="14" class="text-truncate " >{{ item.name }}</span>
                <span nz-col nzSpan="10" class="float-right">{{ item.cost | number }}VNĐ</span>
              </div>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description >
                <ng-container *ngFor="let ele of item.specifications">
                <div *ngFor="let obj of ele | keyvalue" >
                  <span *ngIf="obj.key.toString() != 'id'" class="d-flex  text-truncate">{{ obj.key.toString() | titlecase }}: &nbsp; <p class="mb-0">{{ obj.value }}</p></span>
                </div>
              </ng-container>
              </nz-list-item-meta-description>
          </nz-list-item-meta>
        </div>
      </div>
      <nz-divider class="mb-0 mt-0"></nz-divider>
    </ng-container>
  </nz-list>
</div>
<ng-template #empty>
  <nz-empty></nz-empty>
</ng-template>