<app-page-grid>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="4">
      <h2 class="text-center mb-2">{{ type }}</h2>
    </div>
    <div nz-col nzSpan="20">
      <span
        class="float-right cursor-poiter"
        nz-dropdown
        [nzDropdownMenu]="menu"
        >Sort By <i class="fa-solid fa-arrow-down ml-2"></i
      ></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Newest</li>
          <li nz-menu-item>Price: High-Low</li>
          <li nz-menu-item>Price: Low-High</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="4">
      <nz-input-group [nzSuffix]="searchIcon" class="mb-2">
        <input type="text" nz-input placeholder="Search..."
        #search
        [(ngModel)]="listTextSearch"
          />
      </nz-input-group>
      <ng-template #searchIcon>
        <span><i class="fa-solid fa-search mr-2 text-muted"></i></span>
      </ng-template>

      <nz-collapse *ngIf="listColor?.length > 0">
        <nz-collapse-panel nzHeader="Colour">
          <div nz-row nzGutter="16">
            <div nz-col nzSan="8" *ngFor="let item of listColor" class="mb-2">
              <nz-avatar
                nz-tooltip
                [nzTooltipTitle]="item.code"
                [nzSize]="40"
                [ngStyle]="{ 'background-color': item.value }"
                class="cursor-pointer"
                [ngClass]="{ 'selected-avatar': isSelected(item.id) }"
                (click)="toggleSelection(item.id)"
                [nzIcon]="isSelected(item.id) ? 'check' : ''"
              >
              </nz-avatar>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse *ngIf="listCapacity?.length > 0">
        <nz-collapse-panel nzHeader="Capacity">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row nzGutter="16">
              <div
                nz-col
                nzSpan="12"
                *ngFor="let item of listCapacity"
                class="mb-2"
              >
                <label
                  nz-checkbox
                  [nzValue]="item.code"
                  [ngModel]="null"
                  (ngModelChange)="toggleSelection(item.id)"
                  >{{ item.value }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse>
        <nz-collapse-panel nzHeader="Price">
          <nz-slider
            [nzMax]="50000000"
            [nzTipFormatter]="formatter"
            [nzMin]="10000000"
            nzIncluded
            nzRange
            [nzStep]="1000000"
            [nzMarks]="marks"
          ></nz-slider>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div
      nz-col
      nzSpan="20"
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
    <nz-spin [nzSpinning]="isLoading">
        <nz-list nzGrid>
          <div nz-row>
            <div nz-col [nzSpan]="6" *ngFor="let item of listOfData">
              <nz-list-item>
                <nz-card
                  nzHoverable
                  style="width: 240px"
                  class="cursor-pointer"
                  [nzCover]="coverTemplate"
                  (click)="goToDetail(item.id)"
                >
                  <nz-card-meta [nzTitle]="item.name" nz-tooltip [nzTooltipTitle]="item.name"></nz-card-meta>
                  <span>{{ item.price | number }}Đ</span>
                </nz-card>
                <ng-template #coverTemplate>
                  <img alt="example" [src]="item.photos![0]?.url ?? ''" />
                </ng-template>
              </nz-list-item>
            </div>
          </div>
        </nz-list>
      </nz-spin>
    </div>
  </div>
</app-page-grid>
