<app-drawer-form-base
  [mode]="mode"
  [isEdit]="isEdit"
  [isVisible]="isVisible"
  [titleDrawer]="titleDrawer"
  (onCloseDrawer)="isVisible = false"
  [customFooterTpl]="footerTpl"
  (onSubmit)="submitForm()"
>
  <form nz-form [formGroup]="drawerForm" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="term" nzRequired>
        <span>Term</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Term is required">
        <nz-input-number
          class="w-100"
          name="term"
          id="term"
          formControlName="term"
          placeholder="Input term"
          [nzMin]="1"
          [nzMax]="12"
          [nzStep]="1"
          [nzFormatter]="formatterTerm"
          [nzParser]="parserTerm"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="balance" nzRequired>
        <span>Balance</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Balance is required">
        <nz-input-number
          class="w-100"
          name="balance"
          id="balance"
          formControlName="balance"
          placeholder="Input balance"
          [nzMin]="1"
          [nzMax]="100"
          [nzStep]="1"
          [nzFormatter]="formatterPercent"
          [nzParser]="parserPercent"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>
</app-drawer-form-base>

<ng-template #footerTpl>
  <app-button-base
    class="float-left"
    text="Close"
    type="default"
    iconClass="fa-solid fa-xmark"
    (onClick)="closeDrawer()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Save"
    buttonClass="btn-success mr-2"
    iconClass="fa-solid fa-floppy-disk"
    *ngIf="isEdit"
    (onClick)="submitForm()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Back"
    iconClass="fa-solid fa-arrow-left"
    *ngIf="mode === 'detail' && isEdit"
    (onClick)="changeToDetail()"
  ></app-button-base>
  <app-button-base
    class="float-right"
    text="Edit"
    type="primary"
    iconClass="fa-solid fa-pen-to-square"
    *ngIf="mode === 'detail' && !isEdit"
    (onClick)="changeToUpdate()"
  ></app-button-base>

  <app-button-base
    class="float-right"
    text="Delete"
    buttonClass="btn-danger mr-2"
    iconClass="fa-solid fa-trash"
    *ngIf="mode === 'detail' && !isEdit"
    nz-popconfirm
    nzOkText="Ok"
    nzCancelText="Cancel"
    nzPopconfirmTitle="Delete this record"
    (nzOnConfirm)="deleteItem()"
  ></app-button-base>
</ng-template>
