@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";


// -------- override less variables -----------
@import "../src/assets/styles/utilities.less";
@import "../src/assets/styles/colors.less";

body{
    overflow: hidden scroll;
    margin: 0;
    box-sizing: border-box;
}


.ant-layout-header{
    height: 50px;
}

.ant-layout-sider{
    max-height: 90vh;
    overflow: hidden scroll;
}

.ant-menu-horizontal{
    border: none !important;
}

.ant-list-item-meta-title{
    font-size: 14px;
}

// nz-header {
//     position: fixed;
//     width: 100%;
//     z-index: 1;
//   }
owl-carousel-o {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .owl-item {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  

  @form-item-margin-bottom:10px;
@drawer-header-padding: @padding-xs @padding-xs;

// *::-webkit-scrollbar {
//     width: 20px;
//     background-color: #F5F5F5;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: #000000;
// }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
