<app-page-grid>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12" class="text-center">
      <img alt="example" class="mb-2" [src]="mainImgUrl" />
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of data?.photos" class="slide">
          <img
            src="{{ slide.url }}"
            alt=""
            width="90%"
            class="slide-img cursor-pointer"
            (mouseup)="setCurrentImage(slide.url!)"
          />
        </div>
      </ngx-slick-carousel>
    </div>
    <div nz-col nzSpan="12">
      <h2 class="mb-0">{{ data?.name }}</h2>
      <nz-rate [nzTooltips]="tooltips" [(ngModel)]="value"></nz-rate>
      <nz-divider class="mt-2 mb-0"></nz-divider>
      <h2 class="mt-1">{{ data?.price | number }} VNĐ</h2>
      <ng-container *ngIf="listCapacity.length > 0">
        <dl>
          <dt class="mb-2">
            <label>Capacity</label>
          </dt>
          <dd>
            <nz-radio-group     
            [ngModel]="selectedCapacity"
            (ngModelChange)="onChangeCapacity($event)">
              <label
                *ngFor="let item of listCapacity"
                class="mr-2 cursor-pointer"
                nz-radio-button
                [nzValue]="item.value"
                >{{ item.code }}</label
              >
            </nz-radio-group>
          </dd>
        </dl>
      </ng-container>
      <ng-container *ngIf="listColor.length > 0">
        <dl>
          <dt class="mb-2">
            <span>Colour</span>
          </dt>
          <dd>
            <nz-avatar
              *ngFor="let item of listColor"
              nz-tooltip
              [nzTooltipTitle]="item?.code"
              [nzSize]="40"
              [ngClass]="{ 'selected-avatar': selectedColor === item.id }"
              [ngStyle]="{
                'background-color': item?.value,
                'box-shadow': '2px 2px #ccc'
              }"
              class="cursor-pointer ml-2"
              (click)="onChangeColor(item.id)"
            >
            </nz-avatar>
          </dd>
        </dl>
      </ng-container>
      <a><i class="fa-solid fa-store mr-2 mb-2"></i>See available store</a>
      <button
        nz-button
        nzType="primary"
        class="w-100 h-50px mb-3"
        nzSize="large"
        nzShape="round"
        (click)="addToCart()"
      >
        Add to cart
      </button>
      <br />
      <div nz-row nzGutter="16">
        <div nz-col nzSpan="12">
          <button nz-button class="w-100 h-50px" nzSize="large" nzShape="round">
            Installment
          </button>
        </div>
        <div nz-col nzSpan="12">
          <button nz-button class="w-100 h-50px" nzSize="large" nzShape="round">
            Trade in
          </button>
        </div>
      </div>
      <nz-card class="mt-3">
        <p>
          <i class="fa-solid fa-circle-check text-success"></i>
          Includes: Box, Guide book, Sim taker, USB-C to Lightning Cable
        </p>
        <p>
          <i class="fa-solid fa-circle-check text-success"></i>
          1 year insurance
        </p>
        <p>
          <i class="fa-solid fa-circle-check text-success"></i>
          Delivery all around the country
        </p>
      </nz-card>
    </div>
  </div>
</app-page-grid>
